<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated fairness -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fairness.presentation.FairnessModelWizardID"
            name="%_UI_FairnessModelWizard_label"
            class="fairness.presentation.FairnessModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FairnessModelFile.gif">
         <description>%_UI_FairnessModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated fairness -->
      <editor
            id="fairness.presentation.FairnessEditorID"
            name="%_UI_FairnessEditor_label"
            icon="icons/full/obj16/FairnessModelFile.gif"
            extensions="fairness"
            class="fairness.presentation.FairnessEditor"
            contributorClass="fairness.presentation.FairnessActionBarContributor">
      </editor>
   </extension>

</plugin>
