<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fairness -->
      <package
            uri="http://www.example.org/fairness"
            class="fairness.FairnessPackage"
            genModel="model/fairness.genmodel"/>
   </extension>

</plugin>
